name: onPR
on:
  pull_request:
    branches: '**'

jobs:
  build:
    name: Building and Testing
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - name: Chromatic build and deploy
        run: npx chromatic --project-token ${{ secrets.CHROMATIC_PROJECT_TOKEN }} --exit-zero-on-changes --auto-accept-changes --debug --no-interactive
        id: chromatic
      - name: Create chromatic comment
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            |  Name | Link |
            | --- | --- |
            | Build Results | ${{steps.chromatic.outputs.buildUrl}} |
            | Storybook Preview | ${{steps.chromatic.outputs.storybookUrl}} |
            | Component Count | ${{steps.chromatic.outputs.componentCount}} |
      - run: npm run build
      - run: npm run test
      - run: npm run make-badges:ci
      - run: npm run coverage:codecov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          flags: coverage
